*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    width: 100%;
    /* height: 80px; */
    padding: 0 90px;
    position: fixed;    
    z-index: 999;
    background-color: white;
    top: 0 ;
    border-bottom: 1px solid lightgray;
}
nav{
    display: flex;
    padding-top: 10px;
    justify-content: space-between; 
    align-items: center;
}
nav >div{
    width: 20%;
}
.nav img{
    width: 118px;
    height: 64px;
}
.anywere{
    width: 27%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 30px;
    border: 1px solid lightgray;
}
.anywere:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.anywere a{
    text-decoration: none;
    color: black;
}
.anywere #add{
    color: gray;
}
.search{
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF385C;
    border-radius: 50%;
}
.search img{
    width: 18px;
}
.your{
    width: 24%;
    height: 60px;
    display: flex;
    justify-content: end;
    align-items: center;
    /* border: 1px solid red; */
}
.home{
    cursor: pointer;
    width: 40%;
    height: 40px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    transition: 0.5s;
    /* border: 1px solid red; */
}
.home:hover{
    background-color: rgb(219,218,218);
}
.lag{
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 50%;
    transition: 0.5s;
    /* border: 1px solid red; */
}
.lag:hover{
    background-color: rgb(219,218,218);
}
.profile{
    cursor: pointer;
    width: 25%;
    height: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    border: 1px solid lightgray;
}
.profile:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.profile svg{
    width: 35px;
}
.header1{
    width: 100%;
    height: 75px;
    margin-top: 78px;
    padding: 15px 100px;
    border: 1px solid lightgray;         
    /* background-color: aqua; */
}
.nav1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav1 span{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav1 span img{
    width: 30px;
    height: 30px;
}
.nav1 h1{
    font-size: 13px;
    text-align: center;
}
.right{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 50%;
}
.right:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.right i{
    font-size: 25px;
}
.filter{
    width: 85px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.filter:hover{
    border: 1px solid ;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.filter h4{
    font-size: 14px;
    margin-left: 10px;
}
.display{
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.display h4{
    font-size: 14px;
    margin-left: 10px;
}
.switch{
    cursor: pointer;
    width: 54px;
    height: 33px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 10px;
    border-radius: 205px;
    background-color: #B0B0B0;
    /* border: 1px solid red; */
}
.switch:hover{
    background-color: black;
}
.round{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: 2.5px;
    background-color: white;
    /* border: 1px solid red; */
}
.display:hover{
    border: 1px solid;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
section{
    /* border: 2px solid rosybrown; */
    margin: 0px 100px;
}
.line{
    width: 100%;
    /* border: 2px solid rosybrown; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-between;
}
.box{
    width: 24%;
    position: relative;
}
.like{
    width: 100%;
    padding: 10px;
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.likes{
    width: 100%;
    padding: 15px;
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}
.fav{
    width: 40%;
    height: 30px;
    border-radius: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box img{
    width: 100%;
    height: 280px;
    border-radius: 20px;
}
.star{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin: 8px 0px 10px;
}
.star h4{
    font-weight: 100;
}
.st{
    display: flex;
    gap: 5px;
}
.box h2{
    color: grey;
    font-size: 17px;
    font-weight: 100;
}
.box h3{
    font-size: 16px;
    margin: 10px 0px;
}
.box span{
    font-weight: 100;
}
.show{
    width: 100%;
    height: 100px;
    margin-top: 60px;
    text-align: center;
    /* margin: 0 80px; */
    /* border: 1px solid red; */
}
.show h1{
    font-size: 20px;
}
.show button{
    padding: 15px;
    margin-top: 15px;
    font-size: 15px;
    color: white;
    background-color: black;
    font-weight: 800;
    border-radius: 10px;
}
footer{
    background-color: rgb(247,247,247);
    padding-top: 40px;
    margin-top: 30px;
}
footer >hr{
    width: 100%;
    border: 1px solid lightgray;
}
.footer-1{
    width: 90%;
    margin:  0px auto;
}
.slide{
    width: 100%;
    height: 30px;
    gap: 30px;
    display: flex;
    color: grey;
    margin: 20px 0px;
    border-bottom: 1px solid grey;
}
.slide h5{
    font-size: 15px;
}
hr{
    width: 60px;
    border: 1px solid black;
    margin: -22px 0px;
}
.h5{
    color: black;
    font-size: 15px;
}
.info{
    width: 100%;
    height: 200px;
    margin: 22px 0px;
    display: flex;
    justify-content: space-between;
}
.one{
    width: 15%;
}
.first{
    margin: 20px 0px;
}
.first h4{
    font-weight: 100;
    font-size: 15px;
}
.first .h4{
    color: grey;
}
.first select{
    border: none;
    font-weight: 600;
    background-color: transparent;
}
.footer-2{
    width: 90%;
    height: 270px;
    margin: 70px auto;
    display: flex;
    border-bottom: 1px solid grey;
}
.two{
    width: 34%;
}
.two h6{
    font-size: 16px;
    font-weight: 100;
    margin: 0px 0px 10px;
}
.h6 h6{
    color: rgb(80, 80, 80);
    cursor: pointer;
}
.h6 h6:hover{
    text-decoration: 1px underline;
}
.end{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.copy{
    width: 32%;
    display: flex;
    justify-content: space-between;
    margin: -40px 0px;
}
.h5{
    font-size: 13px;
    font-weight: 100;
}
.copy ul{
    display: flex;
    font-size: 13px;
    gap: 20px;
}
.inr{
    width: 17%;
    margin: -40px 0px;
    display: flex;
    justify-content: space-between;
}