*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
button{
    cursor: pointer;
    padding: 17px 20px;
    border-radius: 25px;
    border: 1px solid black;
    font-weight: 600;
    letter-spacing: -0.9px;
    word-spacing: 2px;
    font-size: 13px;
    /* margin-bottom: 50px; */
    background-color: white;
}
button:hover{
    transition: .4s;
    background-color: rgb(60, 60, 224);
    color: white;
    border: 1px solid rgb(60, 60, 224);
    border: none;
}
.nav{
    width: 100%;
    height: 60px;
    display: flex;
    position: fixed;
    z-index: 1;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    /* border: 1px solid black; */
}
.nav b:hover{
    cursor: pointer;
    color: rgb(14, 14, 234);
}
.nav .logo{
    width: 13%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    /* border: 1px solid red; */
}
.nav .logo img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    /* margin-left: 120px; */
}
.nav .text{
    width: 62%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}
.nav .text b{
    font-family: sans-serif;
    font-size: 14px;
    margin-left: 25px;
    letter-spacing: -0.5px;
}
.nav .text img{
    cursor: pointer;
    width: 20px;
}
.nav .icon{
    width: 25%;
    height: 60px;
    background-color: white;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* border: 1px solid red; */
}
.nav .icon img{
    cursor: pointer;
    width: 23px;
}
.nav .icon a{
    text-decoration: none;
    color: black;
}
.nav .icon a b{
    font-size: 15px;
    margin-left: 20px;
}
.section{
    width: 100%;
    height: 500px;
    position: relative;
    color: white;
    background-image: url(Spotify.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.section-wrapper{
    padding-top: 60px;
}
.section-wrapper .text{
    position: absolute;
    bottom: 0px;
    padding: 0px 120px;
}
.section-wrapper .text h2{
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.9px;
    /* margin-bottom: 100px; */
    /* padding: 100px; */
}
.text button{
    cursor: pointer;
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
    font-weight: 600;
    letter-spacing: -0.6px;
    word-spacing: 5px;
    font-size: 13px;
    margin-bottom: 50px;
}
.text button:hover{
    transition: .4s;
    background-color: rgb(60, 60, 224);
    color: white;
}
.section-wrapper .text p{
    font-size: 15px;
    line-height: 22px;
    /* margin-bottom: 50px; */
    margin: 15px 0px;
}
.box-1{
    width: 100%;
    height: 550px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
.box-1 .box{
    width: 19%;
    height: 520px;
    text-align: center;
    /* border: 1px solid red; */
    margin-right: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.box-1 .box img{
    clip-path: polygon(0% 0%, 100% 0%, 100.1% 85.3%, 0.1% 100.3%);
    width: 100%;
}
.box h6{
    font-size: 12px;
    /* margin-left: 60px; */
    margin-top: 20px;
    color: gray;
    letter-spacing: 2.8px;
}
.box h3{
    /* letter-spacing: -0.1; */
    font-size: 20px;
    /* margin-left: 30px; */
    margin-top: 15px;
    word-spacing: 5px;
}
.box button{
    margin: 60px 0px;
}
.video{
    width: 100%;
    height: 416px;
    display: flex;
    margin-top: 50px;
    /* border: 1px solid black; */
}
.ep-1{
    margin-left: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* border: 1px solid red; */
}
.ep-2{
    width: 36%;
    height: 420px;
    padding-top: 90px;
    /* display: flex */
    /* align-items: center; */
    /* border: 1px solid red; */
}
.ep-2 b{
    font-weight: 900;
    font-size: 18px;
    margin-left: 15px;
    color: #212121;
}
.ep-2 h1{
    font-size: 30px;
    margin-left: 15px;
    margin-top: 15px;
    font-weight: 900;
    color: #212121;
}
.ep-2 p{
    font-size: 16px;
    margin-left: 15px;
    margin-top: 10px;
    color: #212121;
}
.ep-2 h4{
    font-size: 16px;
    font-weight: 400;
    margin-left: 15px;
    margin-top: 20px;
    color: #212121;
}
.ep-2 .p{
    font-weight: 400;
    margin-top: 0;
    color: #212121;
}
.ep-2 a{
    color: #212121;
}
.ep-2 a:hover{
    color: rgb(60, 60, 224);
}
.latest{
    width: 60%;
    height: 50px;
    font-size: 30px;
    margin-left: 100px;
    display: flex;
    align-items: end;
    margin-top: 50px;
    /* padding-left: 100px; */
    /* border: 1px solid red; */
}
.dc{
    width: 85%;
    height: 350px;
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
    margin-left: 100px;
    /* border: 1px solid red; */
}
.dc .box{
    width: 22.5%;
    height: 250px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* border: 1px solid black; */
}
.dc .box h3{
    font-size: 12px;
    font-weight: 600;
    color: gray;
    letter-spacing: 2px;
}
.dc .box h4{
    font-size: 13px;
    font-weight: bolder;
    margin-top: 20px;
    /* color: gray; */
    letter-spacing: -1px;
}
.read{
    width: 86.5%;
    height: 50px;
    display: flex;
    /* justify-content: end; */
    align-items: center;
    /* margin-top: 70px; */
    margin-left: 90px;
    /* border: 1px solid red; */
}
.read h1{
    font-size: 35px;
}
.read .but{
    margin-left: 360px;
}
.read button{
    margin-left: 20px;
}
.quieen{
    width: 100%;
    height: 500px;
    display: flex;
    padding-left: 80px;
    margin-top: 50px;
    /* margin-left: 100px; */
    /* border: 1px solid red; */
}
.quieen .box{
    width: 16%;
    height: 530px;
    text-align: center;
    margin-left: 30px;
    /* border: 1px solid black; */
}
.quieen .box img{
    width: 100%;
}
.quieen h3{
    font-weight: 900;
    letter-spacing: -1.5px;
}
.quieen button{
    margin-top: 40px;
    padding: 15px 30px;
}
.quieen .free{
    margin-top: 20px;
}
.quieen .f{
    margin-top: 50px;
}
.new{
    width: 60%;
    height: 50px;
    margin-top: 70px;
    margin-left: 100px;
    /* border: 1px solid red; */
}
.new h1{
    font-size: 30px;
}
.batman{
    width: 100%;
    height: 530px;
    display: flex;
    margin-top: 50px;
    padding-left: 90px;
    /* border: 1px solid red; */
}
.batman .box{
    width: 20%;
    height: 530px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    text-align: center;
    margin-left: 35px;
    /* border: 1px solid black; */
}
.batman .box img{
    width: 100%;
}
.batman .box .cup{
    margin-top: 160px;
}
.batman .box h3{
    /* text-align: center; */
    /* font-family: sans-serif; */
    font-size: 20px;
    margin-top: 40px;
    font-weight: 600;
}
.batman .box h4{
    font-size: 16px;
    font-weight: 500;
    margin-top: 40px;
}
.batman .box button{
    padding: 10px 20px;
    margin-top: 40px;
    color: white;
    border: none;
    background-color: #0078F0;
}
.batman .box button:hover{
    background-color: #3172b3;
}
.batman .box .rupps{
    margin-right: 40px;
}
.batman .box s{
    margin-left: 15px;
}
.batman .box select{
    width: 80px;
    height: 30px;
    margin-left: 10px;
}
.batman .box .cart{
    margin-top: 30px;
}
.pen{
    width: 100%;
    height: 400px;
    color: white;
    position: relative;
    background-image: url(dc_char-car_penguin_3x1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 60px;
    text-align: center;
}
.get .raj{
    position: absolute;
    bottom: 0px;
    /* padding: 0px 500px; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
    /* margin-top: -20px; */
}
.get .raj h3{
    font-size: 15px;
    /* line-height: 50px;
    letter-spacing: 0.9px; */
    /* margin-top: 50px; */
    /* margin-bottom: 10px; */
    /* padding: 100px; */
}
.get .raj h1{
    font-size: 4rem;
    /* margin-top: 10px; */
}
.get .raj p{
    margin-top: 20px;

}
.get .raj button{
    margin-top: 15px;
    margin-bottom: 20px;
    /* padding-top: 20px; */
}
.news{
    width: 82%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-top: 30px;
    /* border: 1px solid red; */
}
.news h1{
    font-size: 35px;
    margin-left: 30px;
}
.news button{
    padding: 15px 35px;
}
.batgirl{
    width: 85%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-top: 35px;
    /* border: 1px solid red; */
}
.batgirl .box{
    width: 29%;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    text-align: center;
    /* border: 1px solid black; */
}
.batgirl .box img{
    width: 100%;
}
.batgirl .box h4{
    font-size: 13px;    
    color: gray;
    margin-top: 15px;
}
.batgirl .box h3{
    margin-top: 12px;
    font-weight: 700;
    letter-spacing: -1px;
}
footer{
    width: 100%;
    height: 620px;
    margin-top: 50px;
    /* border: 1px solid red; */
}
.footer{
    width: 100%;
    height: 420px;
    display: flex;
    background: rgb(43,5,69);
    background: linear-gradient(90deg, rgba(43,5,69,1) 7%, rgba(86,21,182,1) 70%);
    /* border: 1px solid black; */
}
.footer-1{
    width: 60%;
    height: 420px;
    /* margin-left: 30px; */
    /* border: 1px solid red; */
}
.footer-1 h1{
    font-family: GretaSansCondensedStd, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 3rem;
    color: white;
    margin-top: 140px;
    margin-left: 40px;
}
.footer-1 p{
    font-size: 15px;
    margin-top: 8px;
    color: white;
    margin-left: 40px;
}
.footer-1 button{
    color: white;
    border: 1px solid white;
    background-color: #2B0545;  
    margin-top: 20px;
    margin-left: 40px;
    padding: 17px 30px;
}
.footer-1 button:hover{
    background-color: rgb(60, 60, 224);
    /* border: none; */
}
.footer-2{
    width: 40%;
    height: 420px;
    /* border: 1px solid red; */
}
.footer-2 img{
    width: 100%;
    margin-top: 3px;
    /* margin-right: 50px; */
}
.foot{
    width: 100%;
    height: 210px;
    padding-top: 30px;
    background-color: black;
}
.foot .logo{
    width: 100%;
    height: 75px;
    /* padding-top: 20px; */
    /* margin-top: 20px; */
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}
.foot .list{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    /* border: 1px solid red; */
}
.foot .list .line{
    width: 1px;
    height: 20px;
    margin-left: 15px;
    border: 1px solid white;
}
.foot .list h5{
    font-size: 15px;
    margin-left: 15px;
    color: white;
}
.and{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    /* border: 1px solid red; */
}
.and h4{
    color: white;
    font-size: 15px;
}