*{
    scroll-behavior: smooth;
}
.skill:hover{
  transition: all .5s;
  background-color: #F5CC6D;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.my:hover{
  transition: all .5s;
  background-color: #3D3E42;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.work:hover{
  transition: all .5s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.contact:hover{
  transition: all .5s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.about h1{
  transition: all .5s;
}
.my-skill h1{
  transition: all .5s;
}
.works h1{
  transition: all .5s;
}
button:hover{
  transition: all 1s;
}