*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}
section{
    width: 100%;
    height: 728px;
    background-color: black;
    display: flex;
    justify-content: center; 
}
.main{
    width: 40%;
    background-color:aliceblue;
}
.main-1{
    width: 100%;
}
.text{
    width: 100%;
    display: flex;
    justify-content: end;
}
.name{
    width: 17%;
    margin-top: 10px;
}
.h{
    font-weight: 900;
}
.img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    height: 175px;
}
.logo img{
    height: 180px;
}
.prime{
    height: 90px;
}
.prime img{
    height: 90px;
    margin-top: -10px;
}
.soon{
    height: 90px;
}
.soon img{
    height: 90px;
}
.car{
    width: 70%;
}
.back{
    width: 100%;
    background-color: grey;
    z-index: 1;
    margin-top: -85px;
}
.last{
    padding-top: 85px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.last img{
    height: 70px;
    margin-top: 70px;
}