*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
header{
    position: fixed;
    z-index: 999;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    top: 0;
}
header nav{
    width: 100%;
    padding: 15px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 15%;
}
.logo img{
    width: 48%;
    cursor: pointer;
}
.search{
    width: 25%;
    height: 46px;
    border: 1px solid lightgray;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.search:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.search a{
    gap: 20px;
    color: black;
}
.search span{
    width: 0.3%;
    height: 28px;
    background-color: lightgray;
}
#grey{
    color: grey;
}
.icon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(255,56,92);
    margin: 0px 0px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.last{
    width: 19%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.last a{
    color: black;
}
.home{
    width: 50%;
    height: 38px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s all;
}
.home:hover{
    background-color: rgb(219,218,218);
}
.browser{
    width: 14%;
    height: 38px;
    transition: 0.5s all;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.browser:hover{
    background-color: rgb(219,218,218);
}
.menu{
    width: 28%;
    height: 42px;
    border-radius: 50px;
    border: 1px solid lightgrey;
    display: flex;
    transition: 0.5s all;
    align-items: center;
    justify-content: space-evenly;
}
.menu svg{
    width: 38%;
}
.menu:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.header{
    width: 100%;
    margin: 75px 0;
}
.nav span{
    text-align: center;
    cursor: pointer; 
    font-weight: 100;
}
.nav span img{
    width: 25px;
}
.nav span h1{
    font-size: 12px;
}
#right{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid gray;
}
#right:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.filter{
    padding: 15px 20px;
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 9px;
    font-size: 12px;
}
.filter:hover{
    border: 1px solid black;
    background-color: rgb(247, 247, 247);
}
.filters{
    padding: 3px 15px;
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    color: rgb(176,176,176);
    font-size: 12px;
    align-items: center;
    gap: 9px;
}
.filters:hover{
    border: 1px solid black;
    background-color: rgb(247, 247, 247);
}
section{
    margin: 170px 100px 0px;
}
.line{
    width: 100%;
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
}
.box{
    width: 23.5%;
    position: relative;
}
.like{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    stroke-width: 2;
}
.likes{
    width: 100%;
    padding: 15px;
    font-size: 20px;
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}
.fav{
    width: 40%;
    height: 30px;
    border-radius: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.box img{
    width: 100%;
    height: 280px;
    border-radius: 20px;
}
.star{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: 8px 0px 10px;
}
.star h4{
    font-weight: 100;
}
.st{
    display: flex;
    gap: 5px;
}
.box h2{
    color: grey;
    font-size: 17px;
    font-weight: 100;
}
.box h3{
    font-size: 16px;
    margin: 10px 0px;
}
.box span{
    font-weight: 100;
}
.show{
    width: 100%;
    margin: 60px 0px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.show button{
    padding: 13px 17px;
    margin: 15px 0px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
    background-color: black;
    cursor: pointer;
    color: white;
}
footer{
    background-color: rgb(247,247,247);
    padding: 50px 0px 0px;
}
footer >hr{
    width: 100%;
    border: 1px solid lightgray;
}
.footer-1{
    width: 90%;
    margin:  0px auto;
}
.slide{
    width: 100%;
    height: 30px;
    gap: 30px;
    display: flex;
    color: grey;
    margin: 20px 0px;
    border-bottom: 1px solid grey;
}
.slide h5{
    font-size: 15px;
}
hr{
    width: 60px;
    border: 1px solid black;
    margin: -22px 0px;
}
.h5{
    color: black;
    font-size: 15px;
}
.info{
    width: 100%;
    height: 200px;
    margin: 22px 0px;
    display: flex;
    justify-content: space-between;
}
.one{
    width: 15%;
}
.first{
    margin: 20px 0px;
}
.first h4{
    font-weight: 100;
    font-size: 15px;
}
.first .h4{
    color: grey;
}
.first select{
    border: none;
    outline: none;
    font-weight: 600;
    background-color: transparent;
}
.footer-2{
    width: 90%;
    height: 270px;
    margin: 70px auto;
    display: flex;
    border-bottom: 1px solid grey;
}
.two{
    width: 34%;
}
.two h6{
    font-size: 16px;
    font-weight: 100;
    margin: 0px 0px 10px;
}
.h6 h6{
    color: rgb(80, 80, 80);
    cursor: pointer;
}
.h6 h6:hover{
    text-decoration: 1px underline;
}
.end{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.copy{
    width: 32%;
    display: flex;
    justify-content: space-between;
    margin: -40px 0px;
}
.h5{
    font-size: 13px;
    font-weight: 100;
}
.copy ul{
    display: flex;
    font-size: 13px;
    gap: 20px;
}
.inr{
    width: 17%;
    margin: -40px 0px;
    display: flex;
    justify-content: space-between;
}